{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="auth-section">
    <div class="media mb-4">
      <img class="rounded-circle account-img mr-3" src="{{ user.profile.image.url }}" width="80">
      <div class="media-body">
        <h2 class="account-heading" style="color:#644A07;">{{ user.username }}</h2>
        <p class="text-secondary">{{ user.email }}</p>
      </div>
    </div>
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <legend>Profile Info</legend>
      {{ u_form|crispy }}
      {{ p_form|crispy }}
      <button class="auth-btn mt-3" type="submit">Update</button>
    </form>
  </div>
{% endblock content %}
